advanced_alchemy==0.4.0
aiosqlite==0.19.0
alembic==1.12.1
annotated-types==0.6.0
anyio==4.0.0
certifi==2023.7.22
click==8.1.7
colorama==0.4.6
Faker==19.12.0
greenlet==3.0.1
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
hupper==1.12
idna==3.4
litestar==2.2.1
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
msgspec==0.18.4
multidict==6.0.4
passlib==1.7.4
PasteDeploy==3.0.1
pip==22.1.2
plaster==1.1.2
plaster-pastedeploy==1.0.1
polyfactory==2.11.0
pretty-errors==1.2.25
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
pyramid==2.0.2
python-dateutil==2.8.2
PyYAML==6.0.1
redis==5.0.1
rich==13.6.0
rich-click==1.7.0
setuptools==62.6.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.22
translationstring==1.4
typing_extensions==4.8.0
uvicorn==0.23.2
venusian==3.0.0
WebOb==1.8.7
wheel==0.37.1
zope.deprecation==5.0
zope.interface==6.1

[notice] A new release of pip available: 22.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
